//
//  Variables
//

// Colors
//

// Grays
$white: #fefefe;
$gray: #E3E3E3;
$lightgray: #FAF8F5;
$medgray: #C4C4C4;
$darkgray: #646464;
$black: #222;

// Branding
$orange: #F3722C;
$blue: #2D5276;
$yellow: #F9C74F;
$green: #2D7633;
$lightgreen: #43AA8B;
$purple: #884EBA;

// Global colors
$page-color: $white;
$text-color: $black;
$link-color: $orange;
$link-hover-color: $black;
$border: $gray;
$heading-text-color: $black;

// Fonts
//
$font-heading: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-body: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Define the global base font size
// Since $px-base-font-size is defined on the <html> tag,
// it will affect the way browsers and theme helpers calculate rem values
// @see _html-elements.scss
//
$px-base-font-size: 18px !default;
$px-base-font-size-mobile: 16px !default;
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Modular scale font-sizes
// $modular-scale-ratio: $perfect-fourth;
$modular-scale-ratio: 1.25;
$modular-scale-base: 1rem;
$font-size-normal: 1rem;
$font-size-lg: $modular-scale-base * $modular-scale-ratio;
$font-size-xl: $font-size-lg * $modular-scale-ratio;
$font-size-xxl: $font-size-xl * $modular-scale-ratio;
$font-size-xxxl: $font-size-xxl * $modular-scale-ratio;
$font-size-xxxxl: $font-size-xxxl * $modular-scale-ratio;
$font-size-title: $font-size-xxxxl * $modular-scale-ratio;
$font-size-md: $modular-scale-base / $modular-scale-ratio;
$font-size-sm: $font-size-md / $modular-scale-ratio;
$font-size-xs: $font-size-sm / $modular-scale-ratio;

// Buttons global vars
//
$button-bg-color: $orange;
$button-text-color: $white;
$button-font-family: $font-body;

// Easing
// @see usage https://gist.github.com/bendc/ac03faac0bf2aee25b49e5fd260a727d
//
$ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
$ease-out-quad: cubic-bezier(.25, .46, .45, .94);

// Z-index
$zindex: (
  modal              : 300,
  overlay            : 200,
  dropdown           : 100,
  header             : 50,
  triangle           : 20,
  background         : 10,
  underground        : -1,
);

// Layout
//

// Container max-width
$max-w-small: 100%;
$max-w-medium: 90%;
$max-w-big: rem(1040);
$max-w-wide: rem(1180); // (12*80)+(11*20)

// Media queries breakpoints
$bp-small: 480px;
$bp-medium: 769px;
$bp-big: 1220px;
$bp-wide: 1340px;

// Flex grid
$default-wrap: $max-w-wide;
$default-gutter: 20px;
$grid-columns: 12;
