// Global

.site-container {
  overflow: hidden;
}

.site-header {
  padding: 1rem 0;

  &.is-home {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: map-get($zindex, header);

    .logo {
      path {
        fill: $white;
      }
    }

    .main-menu__link {
      color: $white;
    }
  }
}

.site-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__title {
  margin: 0;

  a {
    &:hover {
      background: none;
    }
  }
}

.site-footer {
  border-top: 2px solid $border;
  padding: 1.5rem 0 1rem;
  position: relative;

  @include bp($bp-wide) {
    &:before {
      @include el(inline-block, 212px, 33px);
      background: url("/images/footer-border.svg") top left;
      position: absolute;
      top: -17px;
      left: calc((100vw - #{$max-w-wide})/2);
      transform: rotate(180deg);
    }
  }
}

.site-footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.page-title {
  font-size: 3rem;
}
