// Global

.site-container {
  overflow: hidden;
}

.site-header {
  padding: rem(30) 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: map-get($zindex, header);

  &.is-home {
    .logo {
      path {
        fill: $white;
      }
    }

    .main-menu__link {
      color: $white;
    }
  }
}

.site-header__menu {
  @include bp($bp-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.site-header__title {
  margin: 0;

  a {
    &:hover {
      background: none;
    }
  }
}

.site-footer {
  border-top: 2px solid $border;
  padding: 1.5rem 0 1rem;
  position: relative;

  @include bp($bp-wide) {
    &:before {
      @include el(inline-block, 212px, 33px);
      background: url("/images/footer-border.svg") top left;
      position: absolute;
      top: -17px;
      left: calc((100vw - #{$max-w-wide})/2);
      transform: rotate(180deg);
    }
  }
}

.site-footer__menu {
  @include bp($bp-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
