{{ define "main" }}

{{- $url_about := "/a-propos" -}}
{{- $url_gift := "/faire-un-don" -}}
{{- $url_help := "/demander-un-appui" -}}

{{ $image_1 := resources.GetMatch "/images/people_01b.jpg" }}

<main>
  <header class="page-header page-header--about">
    <div class="l-constrain">
      <h1 class="page-header__title">À propos</h1>
      <div class="page-header__intro">
        <p>Micro-ressort est une organisation de volontaires. <br>
        Pour soutenir des personnes en projet personnel, dont la situation financière précaire risque de mettre ce projet en échec.</p>
        <p>Le but est de voir le porteur·teuse de projet atteindre son but , par ce coaching et le suivi financier.</p>
        <p>L’association se veut comme appui en dernier recours. En d’autres termes, ces soutiens financiers sont réservés à des personnes qui n’ont pas accès aux circuits traditionnels.</p>
        <p>Nous ne demandons pas de contrepartie financière mais nous fixons des règles.</p>
      </div>
      <div class="page-header__items">
        <section class="page-header__items-item card card--white">
          <h1 class="card__title">L’association encourage</h1>
          <div class="text-content">
            <ul>
              <li>Le droit à la dignité</li>
              <li>L’épanouissement personnel</li>
              <li>La diversité générationnelle, culturelle & sociale</li>
            </ul>
          </div>
        </section>
        <section class="page-header__items-item card card--white">
          <h1 class="card__title">Micro-ressort ne dépend pas de l’état</h1>
          <p>Micro-ressort s’inscrit dans l’idée de Muhammad Yunus, économiste bangladais, fondateur de la première  institution de microcrédit en 1976 : <em>“Créer un monde sans pauvreté”</em></p>
        </section>
      </div>
    </div>
  </header>
  <section class="site-section section-blue site-section--team">
    <div class="l-constrain">
      <h1 class="site-section__title">Devenir bénévole et rejoindre l’équipe</h1>
      <div class="site-section--team-inner">
        <div class="card card--white">
          <p>Pour accompagner une personne en difficulté et t’investir avec notre équipe, pour valoriser ton temps et pour découvrir des personnes enthousiastes.</p>
          <p>Envoyer un mail à <a href="ma&#105;l&#116;o&#58;micr&#111;%7&#50;esso&#114;t&#64;gm&#97;%69l&#46;&#99;%&#54;F&#109;">microresso&#114;t&#64;gm&#97;i&#108;&#46;com</a></p>
        </div>
        <ul class="team-list">
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>France</h3>
          </li>
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>Phil</h3>
          </li>
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>Isa</h3>
          </li>
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>Régis</h3>
          </li>
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>Francis</h3>
          </li>
          <li class="team-list__item">
            <div class="team-list__item-pic">
              {{ readFile "themes/micro-ressort/images/team-placeholder.svg" | safeHTML }}
            </div>
            <h3>Max</h3>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="site-section site-section--testimony">
    <div class="l-constrain">
      <h1 class="site-section__title">Témoignages</h1>
      <div class="testimonial">
        <div class="testimonial__item">
          <blockquote><p>Faire des projets est moteur pour moi ce qui m’a permis notamment de vivre un parcours professionnel enrichissant. Quand Micro-ressort m’a été présenté cela m’a semblé tout naturel d’y participer financièrement. Quelle aubaine de pouvoir soutenir des personnes battantes pour qu’elles puissent avancer dans leurs projets à leur tour !</p><p class="testimonial__item-author">N. V.M. • <strong>Coopérateur investisseur</strong></p></blockquote>
        </div>
        <div class="testimonial__item">
          <blockquote><p>J’ai souhaité intégrer l’équipe de Micro-ressort car l’association apporte un appui financier à des porteurs de projets. Cette notion est importante pour moi car cela démontre que l’association n’impose pas un chemin à suivre aux porteurs de projets mais les accompagne dans le leur et leur fait confiance. L’association souhaite rendre les porteurs de projets acteurs de leur vie. Elle se positionne comme un simple coup de pouce!</p><p class="testimonial__item-author">I. E. • <strong>Volontaire</strong></p></blockquote>
        </div>
      </div>
    </div>
  </section>

  <div class="site-section--figure">
    <div class="l-constrain">
      <figure>
        <img src="{{ $image_1.RelPermalink }}" alt="">
      </figure>
    </div>
  </div>

  <section class="site-section site-section--about-c2a">
    <div class="l-constrain">
      <div class="site-section--about-c2a-items">
        <section class="site-section--about-c2a-items-item card card--gray">
          <h1>Demandez un appui</h1>
          <p>Trouvons une solution ensemble. Nous vous expliquons tout.</p>
          <a href="{{ $url_help }}" class="button">Demander un appui</a>
        </section>
        <section class="site-section--about-c2a-items-item card">
          <h1>Faire un don</h1>
          <p>Tous les montants sont les bienvenus, vous savez ce qu’il advient de votre argent.</p>
          <a href="{{ $url_gift }}" class="button">Faire un don</a>
        </section>
      </div>
    </div>
  </section>
  {{ .Content }}
</main>

{{ end }}
