<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="{{ .Site.LanguageCode }}" xmlns="http://www.w3.org/1999/xhtml">
  {{- partial "head.html" . -}}
  <body>
    <div class="site-container">
      {{- partial "header.html" . -}}

      {{- block "main" . }}{{- end }}

      {{- partial "footer.html" . -}}
    </div>
    <script defer language="javascript" type="text/javascript">
      var root = document.getElementsByTagName( 'html' )[0];
      root.setAttribute( 'class', 'js' );
      var toggle = document.querySelector('.main-menu-toggle');
      var menu = document.querySelector('.site-header__menu .main-menu');
      var menuItems = menu.querySelector('.main-menu__link');

      toggle.addEventListener('click', function(){
        if (menu.classList.contains('is-active')) {
          this.setAttribute('aria-expanded', 'false');
          menu.classList.remove('is-active');
        } else {
          menu.classList.add('is-active');
          this.setAttribute('aria-expanded', 'true');
          //menuItems[0].focus();
        }
      });
    </script>
  </body>
</html>
