{{ define "main" }}

{{- $url_about := "/a-propos" -}}
{{- $url_gift := "/faire-un-don" -}}
{{- $url_help := "/demander-un-appui" -}}

{{ $image_1 := resources.GetMatch "/images/people_10.jpg" }}

<main>
  <header class="page-header page-header--has-aside page-header--support">
    <div class="page-header__inner l-constrain">
      <h1 class="page-header__title">Demander un accompagnement</h1>
      <div class="page-header__intro">
        <p>Micro-ressort accompagne des personnes en difficulté financière.</p>
        <ul class="list-highlight">
          <li>Pour recevoir un appui financier</li>
          <li>pour des informations et, si besoin, une redirection vers des services pertinents</li>
          <li>pour un accompagnement mensuel jusqu’à l’aboutissement de votre formation ou votre projet de vie</li>
        </ul>
      </div>
      <div class="page-header__aside">
        <section class="card card--blue ask-c2a-block">
          <h2>Pour faire une demande</h2>
          <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeh6RaBAUCM4uvLq5tK0mIARYBjUun3rEdQsv3taTElQTg_nw/viewform" class="button">Remplissez le questionnaire</a></p>
          <h2>Pour parler avec nous</h2>
          <p>Envoyez un mail à <a href='ma&#105;l&#116;o&#58;micr&#111;%7&#50;esso&#114;t&#64;gm&#97;%69l&#46;&#99;%&#54;F&#109;'>microresso&#114;t&#64;gm&#97;i&#108;&#46;com</a></p>
        </section>
      </div>
    </div>
  </header>
  <section class="site-section site-section--help-who section-gray">
    <div class="l-constrain site-section--help-who-inner">
      <h1 class="site-section__title">Pour vous, si vous avez un projet et si vous traversez une crise financière urgente et inattendue</h1>
        <div class="text-content">
          <p>Le but est de vous soutenir si vous avez un projet de vie, un objectif.<br>
          Celui-ci doit être mis à mal par un problème financier auquel vous ne pouvez pas échapper pour réaliser votre projet.
          Quelques exemples :</p>
          <ul>
            <li>projet d’études, de formation, de stage</li>
            <li>projet professionnel</li>
            <li>projet de naturalisation</li>
            <li>frais médicaux ou autres remboursements urgent </li>
            <li>frais liés à la scolarité d’enfants</li>
          </ul>
          <h2>Quand la société n’offre aucune autre aide ou financement</h2>
          <p>Dans certains cas, vous ne pouvez pas trouver de solution auprès des instances. Vous avez peut-être aussi des difficultés à connaître les instances qui peuvent vous aider. C'est là que nous intervenons pour vous conseiller et si besoin financièrement.</p>
        </div>
        <figure class="site-section--help-who-figure">
          <img src="{{ $image_1.RelPermalink }}" alt="">
        </figure>
      <div class="site-section--help-who-content">
      </div>
    </div>
  </section>
  <section class="site-section site-section--no-curve section-blue site-section--what">
    <div class="l-constrain">
      <h1 class="site-section__title">Qu’est-ce qu’un appui financier et comment ça se déroule</h1>
      <div class="what-items">
        <section class="what-items__item card card--white">
          <h1 class="card__title">Un nano ou micro-appui</h1>
          <p class="card__text">Ce montant vous sera octroyé et  sera défini ensemble en fonction des frais auxquels vous devez faire face. <br>
          Un nano appui : octroyé pour une somme entre 20 et 250€. <br>
          Un micro-appui : octroyé pour une somme entre 251 et 2000€. <br>
          Dans ce cas, un comité de micro-appui examine avec attention votre demande. La présence de votre garant est requise lors de la signature du contrat.</p>
        </section>
        <section class="what-items__item card card--white">
          <h1 class="card__title">L’objet de l’appui</h1>
          <p class="card__text">L’appui financier doit vous servir exclusivement à financer votre projet. Bien sûr, cela ne comprend pas d’ autres achats de confort.</p>
        </section>
        <section class="what-items__item card card--white">
          <h1 class="card__title">Le remboursement</h1>
          <p class="card__text">Le soutien de votre projet est temporaire, un contrat sera convenu pour en définir le montant. Mais aussi, la durée et l’échéance du remboursement une fois que votre situation s’est améliorée.</p>
        </section>
        <section class="what-items__item card card--white">
          <h1 class="card__title">L’accompagnement</h1>
          <p class="card__text">Chaque porteur·euse de projet est suivi·e par un·e accompagnateur·rice. Un rendez-vous est prévu au moins une fois par mois. Cet accompagnement permet d’analyser les raisons, le contexte, le développement et les évolutions de l’appui et du projet.</p>
        </section>
      </div>
    </div>
  </section>
  <section class="site-section section-blue site-section-actors">
    <div class="l-constrain">
      <h1 class="site-section__title">Les acteurs</h1>
      <div class="actors-summary">
        <section class="actors-summary__item">
          <h1 class="actors-summary__item-title">
            {{ readFile "themes/micro-ressort/images/icn-spring.svg" | safeHTML }}
            Le Porteur de projet</h1>
          <p>La personne qui bénéficie d’un appui financier.</p>
        </section>
        <section class="actors-summary__item">
          <h1 class="actors-summary__item-title">
            {{ readFile "themes/micro-ressort/images/icn-garant.svg" | safeHTML }}
            Le garant</h1>
          <p>Un référent moral, connaissance du porteur·teuse de projet, résidant en Belgique est obligatoire.</p>
        </section>
        <section class="actors-summary__item">
          <h1 class="actors-summary__item-title">
            {{ readFile "themes/micro-ressort/images/icn-accompagnateur.svg" | safeHTML }}
            L’accompagnateur</h1>
          <p>Elle est chargée du suivi du porteur·teuse de projet et de lui donner toutes les infos et conseils nécessaires</p>
        </section>
      </div>
    </div>
  </section>
  <section class="site-section site-section--help-steps">
    <div class="l-constrain">
      <h1 class="site-section__title">Les étapes</h1>
      <ol class="help-steps">
        <li class="help-steps__item card card--green">
          {{ readFile "themes/micro-ressort/images/count-white-1.svg" | safeHTML }}
          <h2 class="help-steps__item-title">La prise de contact</h2>
          <p>Tout commence par votre questionnaire préparatoire, il nous permet de préparer notre première rencontre. Nous sommes bien sûr disponibles par mail ou par téléphone pour un premier contact et pour répondre à vos questions.</p>
        </li>
        <li class="help-steps__item card card--green">
          {{ readFile "themes/micro-ressort/images/count-white-2.svg" | safeHTML }}
          <h2 class="help-steps__item-title">La rencontre avec un accompagnateur</h2>
          <p>Nous analysons avec vous les raisons, le contexte, le développement et les évolutions de l’appui et de votre projet. Nous avons d’abord, un entretien d’une heure environ. Nous faisons connaissance, nous vous expliquons tous les détails et finalisons, si nécessaire, le questionnaire préparatoire. Ensuite ensemble, nous réalisons la convention.</p>
        </li>
        <li class="help-steps__item card card--lightgreen">
          {{ readFile "themes/micro-ressort/images/count-white-3.svg" | safeHTML }}
          <h2 class="help-steps__item-title">Signature d’une convention</h2>
          <p>Nous fixons avec vous, les conditions et définissons les objectifs ensemble. Le contrat est signé par vous, votre référent et l’accompagnateur·trice de Micro-ressort.</p>
        </li>
        <li class="help-steps__item card card--lightgreen">
          {{ readFile "themes/micro-ressort/images/count-white-4.svg" | safeHTML }}
          <h2 class="help-steps__item-title">Un appui est accordé</h2>
          <p>Nous versons alors la somme convenue sur votre compte.</p>
        </li>
        <li class="help-steps__item card card--purple">
          {{ readFile "themes/micro-ressort/images/count-white-5.svg" | safeHTML }}
          <h2 class="help-steps__item-title">Suivi et remboursement mensuel</h2>
          <p>Une réunion mensuelle est prévue avec votre accompagnateur·trice, Vous pour faire le point et voir comment évolue la situation de votre projet. Le projet abouti vous débutez le remboursement à Micro-ressort.</p>
        </li>
        <li class="help-steps__item card card--purple">
          {{ readFile "themes/micro-ressort/images/count-white-6.svg" | safeHTML }}
          <h2 class="help-steps__item-title">Le projet est réussi</h2>
          <p>Un dernier entretien pour clôturer le contrat et pourquoi pas, à votre tour, rejoindre notre équipe !</p>
        </li>
      </ol>
    </div>
  </section>
  <section class="site-section section-gray site-section--testimony">
    <div class="l-constrain">
      <h1 class="site-section__title">Témoignages</h1>
      <div class="testimonial">
        <div class="testimonial__item">
          <blockquote><p>J’étais demandeur d’asile, logé avec d’autres dans un 3 pièces, dans une maison pour migrants. Par après, arrivé à Bruxelles sans revenus, je ne pouvais pas payer le loyer, ni même me nourrir. Poursuivre ma formation était difficile dans ce contexte. J’ai entendu parler de l’association micro-ressort, j’ai été bien accueilli, écouté et soutenu. J’ai pu garder la tête hors de l’eau, terminer ma formation, obtenir mes papiers, trouver du travail. J’ai pu, dans cette confiance retrouvée, rebondir dans la vie. Aujourd’hui suite à ce chemin, je suis technicien en maintenance d’ascenseurs et d’escalators.</p><p class="testimonial__item-author">P.K., <strong>Porteur de projet</strong></p></blockquote>
        </div>
        <div class="testimonial__item">
          <blockquote><p>Lors de ma formation, j’ai eu des soucis d’argent et une dette que m’avait envoyée un hôpital, je me suis ouvert à un ami qui m’a mis en rapport avec un accompagnateur de micro-ressort qui m’a reçu gentiment, m’a écouté et m’a remis l’argent que je voulais en me disant les conditions de remboursement que j’ai moi-même choisies et sans aucun intérêt. Quel soulagement pour moi ! Cela m’a permis de régler mes problèmes et de me concentrer sur ma formation jusqu’à l’obtention de mon diplôme. Actuellement je travaille dans une école comme ouvrier d’entretien.</p><p class="testimonial__item-author">A.S., <strong>Porteur de projet</strong></p></blockquote>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section site-section--links">
    <div class="l-constrain">
      <h1 class="site-section__title">D’autres instances chez qui trouver un soutien</h1>
      <div class="text-content">
        <ul>
          <li>Télé-service</li>
          <li>CPAS de schaerbeek</li>
          <li>Aide Sociale Bruxelles – Numéro gratuit et anonyme <a href="tel:080035243">0800 35 243</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="site-section site-section--c2a-help">
    <div class="l-constrain">
      <h1 class="site-section__title">Demander un appui financier maintenant</h1>
      <div class="c2a-help-items">
        <article class="c2a-help-items__item card card--gray">
          <h2>Pour faire une demande</h2>
          <p><a class="button" href="https://docs.google.com/forms/d/e/1FAIpQLSeh6RaBAUCM4uvLq5tK0mIARYBjUun3rEdQsv3taTElQTg_nw/viewform">Remplir le questionnaire</a></p>
        </article>
        <article class="c2a-help-items__item card">
          <h2>Pour parler avec nous</h2>
          <p>Envoyer un mail à <a href='ma&#105;l&#116;o&#58;micr&#111;%7&#50;esso&#114;t&#64;gm&#97;%69l&#46;&#99;%&#54;F&#109;'>microresso&#114;t&#64;gm&#97;i&#108;&#46;com</a></p>
        </article>
      </div>
    </div>
  </section>
  {{ .Content }}
</main>

{{ end }}
