//
// Helper classes
//

// Hide for desktop
//
// .desktop-hidden {
//   @include mappy-query(b-medium) {
//     display: none;
//   }
// }

// Hide for mobile
//
// .mobile-hidden {
//   @include mappy-bp(max-width $b-small-val) {
//     display: none;
//   }
// }

// Inline lists
//
.list-inline {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  > li {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  @include button--default();
}

.button--arrow-right {
  &:after {
    @include el(inline-block, 13px, 9px);
    background: url("/images/icn-arrow-right.svg") top left;
    margin-left: rem(14);
  }
}

.button--toggle {
  background-color: $white;
  border-radius: rem(3);
  color: $blue;
  border: none;
  font-weight: 500;
  box-shadow: 0 0 0 1px $blue;

  &:focus {
    background-color: $blue;
    color: $white;
    box-shadow: 0 0 0 1px $blue;
  }
}

.card {
  border-radius: 14px;
  padding: rhythm(1) rem(20);

  @include bp($bp-medium) {
    padding: rhythm(3/2) rem(30);
  }
}

.card--blue {
  @include section-bg-color($blue, $white);
}

.card--gray {
  @include section-bg-color($lightorange);
}

.card--white {
  @include section-bg-color($white);
}

.card--green {
  @include section-bg-color($green, $white);
}

.card--lightgreen {
  @include section-bg-color($lightgreen, $white);
}

.card--purple {
  @include section-bg-color($purple, $white);
}

.card__title {
  margin-top: 0;
}

.pic-frame {
  img {
    border: 10px solid $white;
    border-radius: 0;
    display: inline-block;
    line-height: 0;
    box-shadow: 0 0 12px rgba($black, .06), 2px 2px 4px rgba($black, .05);
    transition: none;
  }
}

.list-highlight {
  li {
    padding-left: rem(32);
    position: relative;

    &:before {
      @include el(inline-block, 18px, 8px);
      background: url("/images/icn-list-arrow.svg") center left;
      position: absolute;
      left: 0;
      top: rem(10);
    }

    & + li {
      margin-top: rhythm(1/3);
    }
  }
}

.text-content {
  ul {
    list-style-type: disc;
    margin-left: rem(24);
  }

  li {
    &:not(:last-child) {
      margin-bottom: rhythm(1/3);
    }
  }
}
