//
// Helper classes
//

// Hide for desktop
//
// .desktop-hidden {
//   @include mappy-query(b-medium) {
//     display: none;
//   }
// }

// Hide for mobile
//
// .mobile-hidden {
//   @include mappy-bp(max-width $b-small-val) {
//     display: none;
//   }
// }

// Inline lists
//
.list-inline {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  > li {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  @include button--default();
}

.button--arrow-right {
  &:after {
    @include el(inline-block, 13px, 9px);
    background: url("/images/icn-arrow-right.svg") top left;
    margin-left: rem(14);
  }
}

.card {
  border-radius: 14px;
  padding: rhythm(3/2) rem(30);
}

.card--blue {
  @include section-bg-color($blue, $white);
}

.card--gray {
  @include section-bg-color($lightorange);
}

.card--white {
  @include section-bg-color($white);
}

.card--green {
  @include section-bg-color($green, $white);
}

.card--lightgreen {
  @include section-bg-color($lightgreen, $white);
}

.card--purple {
  @include section-bg-color($purple, $white);
}

.card__title {
  margin-top: 0;
}

.pic-frame {
  img {
    border: 10px solid $white;
    display: inline-block;
    line-height: 0;
    box-shadow: 0 0 12px rgba($black, .06), 2px 2px 4px rgba($black, .05);
  }
}
