//
// Helper classes
//

// Hide for desktop
//
// .desktop-hidden {
//   @include mappy-query(b-medium) {
//     display: none;
//   }
// }

// Hide for mobile
//
// .mobile-hidden {
//   @include mappy-bp(max-width $b-small-val) {
//     display: none;
//   }
// }

// Inline lists
//
.list-inline {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;

  > li {
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  @include button--default();
}

.card {
  border-radius: 14px;
  padding: 1rem;
}

.card--blue {
  @include section-bg-color($blue, $white);
}

.card--gray {
  @include section-bg-color($lightgray);
}

.card--white {
  @include section-bg-color($white, $blue);
}

.card--green {
  @include section-bg-color($green, $white);
}

.card--lightgreen {
  @include section-bg-color($lightgreen, $white);
}

.card--purple {
  @include section-bg-color($purple, $white);
}
