<footer class="site-footer">
  <div class="l-constrain">
    <div class="site-footer__menu">

      <h1 class="site-header__title">
        <a href="/">
          <span class="sr-only">{{ .Site.Title }}</span>
          {{ readFile "themes/micro-ressort/images/logo.svg" | safeHTML }}
        </a>
      </h1>

      <nav class="site-navigation">
        <ul class="main-menu">
          {{ range .Site.Menus.mainmenu }}
          <li class="main-menu__item">
            <a class="main-menu__link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <ul>
        {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
          </a>
        </li>
        {{ end }}
    </ul>

  </div>

</footer>
