*,
*:after,
*:before{
  box-sizing: border-box;
}

:root{
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 40em) {
  :root{
    font-size: 16px;
  }
}

body{
  background: #fefefe;
  color: #333;
  font-family: 'Roboto', 'Arial', sans-serif;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #F3722C;
  font-family: 'Dosis', 'Arial', sans-serif;
  line-height: 1.2;
}

ul {
  font-weight: 600;
  font-family: 'Dosis', 'Arial', sans-serif;
  font-size: 1.2rem;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
  li{
    margin-bottom: .5rem;
    position: relative;
    padding-left: 34px;
  }
    li:before {
      background: url(../img/arrow.svg) center center;
      background-size: contain;
      content: "";
      position: absolute;
      padding-left: 0;
      left: 0;
      top: 11px;
      display: block;
      width: 27px;
      height: 12px;
    }

a {
  color: #F3722C;
}
  a:hover {
    transition: all .2s;
  }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  margin-top: 6rem;
}

.site-title {
  font-size: 4rem;
  max-width: 10em;
}

section {
  padding: 2rem 0;
}

.bg-primary {
  background-color: #F3722C;
  color: #fefefe;
}
  .bg-primary a,
  .bg-primary h1 {
    color: #fefefe;
  }

.bg-secondary {
  background-color: #577590;
  color: #fefefe;
}
  .bg-secondary h1 {
    color: #F9C74F;
  }
  .bg-secondary li:before {
    background-image: url(../img/arrow-white.svg);
  }

.intro {
  display: inline;
}
  .intro ul {
    margin-bottom: 2rem;
  }


@media (min-width: 41em) {
  .intro {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    margin-right: -20px;
  }
}

  @media (min-width: 41em) {
    .intro > section {
      flex: 0 1 50%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

.section-goal ul {
  margin-top: 0;
}

.goal {
  color: #333;
  font-weight: 600;
}
  .goal strong {
    color: #F3722C;
  }

.block-quote {
  margin: 1rem auto 0;
  padding: 1rem 0;
  text-align: center;
}
  .block-quote > p {
    color: #555;
    max-width: 18rem;
    font-size: .85rem;
    margin: 0 auto;
  }

  .c-quote {
    color: #F9C74F;
    display: inline-block;
    font-weight: 600;
    font-family: 'Dosis', 'Arial', sans-serif;
    margin-right: 0;
    margin-left: 0;
    max-width: 14rem;
    position: relative;
  }
    .c-quote p {
      margin: 0;
      padding: 2rem 2rem 1rem;
    }

  .phyl {
    left: -9px;
    position: absolute;
    top: -9px;
    height: calc(100% + 18px);
    width: calc(100% + 18px);
  }
    .phyl path {
      height: 100%;
      width: 100%;
      transform: scale(0.95);
      transform-origin: 50% 50%;
      fill: transparent;
      stroke: #F9C74F;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 3;
      vector-effect: non-scaling-stroke;
    }

@media (min-width: 41em) {
  .targets {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    margin-right: -20px;
  }
}

  .target {
    margin-bottom: 3rem;
  }

  @media (min-width: 41em) {
    .target {
      flex: 0 1 50%;
      margin-bottom: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

    .target p {
      text-align: center;
      font-size: .85rem;
    }

    .target p strong {
      color: #F9C74F;
      display: block;
      font-family: 'Dosis', 'Arial', sans-serif;
      font-size: 2rem;
      line-height: 1.2;
      margin: .1em 0 .2em;
    }

@media (min-width: 41em) {
  .contact-c2a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}

  .contact-c2a h1 {
    margin-right: 3rem;
  }

.button {
  display: inline-block;
  border: 2px solid #fefefe;
  border-radius: 50px;
  padding: .8em 1.4em;
  text-decoration: none;
}
  .button:hover {
    background-color: #fefefe;
    color: #F3722C;
  }
  .button:active {
    transition: none;
    transform: translateY(2px);
  }

.section-testimonials .section-title {
  color: #577590;
}

.testimonials {
  color: #577590;
}
@media (min-width: 41em) {
  .testimonials {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.testimonials > div {
  font-size: .85rem;
}

@media (min-width: 41em) {
  .testimonials > div {
    flex: 0 1 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hand-left {
  text-align: right;
}

@media (max-width: 41em) {
  .testimonials img {
    display: none;
  }
}
  .testimonial {
    margin: 0 0 1em;
  }
    .testimonial:last-child {
      margin-bottom: 3em;
    }

  .testimonial blockquote {
    margin: 1rem 0 2rem;
  }
  .testimonial p {
    margin: 0;
  }
    .testimonial blockquote:before,
    .testimonial blockquote:after {
      background: url(../img/quote-left.svg) no-repeat center center;
      background-size: contain;
      content: "";
      display: inline-block;
      margin-bottom: .5rem;
      height: 14px;
      width: 18px;
    }
      .testimonial blockquote:after {
        background-image: url(../img/quote-right.svg);
        float: right;
        margin: .5rem 0 0;
      }

  .testimonial figcaption {
    font-style: italic;
    text-align: right;
    font-size: .6rem;
  }

.site-footer {
  color: #555;
  font-size: .6rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
