{{ define "main" }}

{{- $url_about := "/a-propos" -}}
{{- $url_gift := "/faire-un-don" -}}
{{- $url_help := "/demander-un-soutien" -}}

<main>

  <header class="hero hero--homepage">
    <div class="l-constrain">
      <h1 class="hero__title">{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <p class="hero__intro">{{.}}</p>
      {{ end }}
      {{ readFile "themes/micro-ressort/images/icn-hand-reverse.svg" | safeHTML }}
      {{ readFile "themes/micro-ressort/images/icn-hand.svg" | safeHTML }}
      {{ readFile "themes/micro-ressort/images/icn-arrow.svg" | safeHTML }}
      {{ readFile "themes/micro-ressort/images/icn-loop.svg" | safeHTML }}
      {{ readFile "themes/micro-ressort/images/icn-spring.svg" | safeHTML }}
    </div>
  </header>

  <section class="site-section">
    <div class="l-constrain">
      <header class="site-section__header">
        <h2 class="site-section__subtitle">Comment ça marche ?</h2>
        <h1 class="site-section__title">Une relation entre des personnes en difficulté financière et des accompagnateurs, grâce aux donateurs</h1>
        <p><a href="{{ $url_about }}" class="button">En savoir plus</a></p>
      </header>
      <ol class="how-steps">
        <li class="how-steps__item">
          <p class="how-steps__subtitle">Roberto est Porteur de projet</p>
          <h3 class="how-steps__title">Il demande un appui à Micro-ressort</h3>
          <p>Il contacte Micro-ressort pour demander un soutien financier. Il a un besoin d’argent urgent pour honorer une dette imprévue et il a peur de devoir arrêter ses études pour faire face à celle-ci.</p>
        </li>
        <li class="how-steps__item">
          <p class="how-steps__subtitle">Nora est Donatrice</p>
          <h3 class="how-steps__title">Elle fait un apport de 500 euros</h3>
          <p>Elle investit de l’argent et grâce à elle, un·e bénévole soutient le porteur·euse de projet en besoin de coup de pouce.</p>
        </li>
        <li class="how-steps__item">
          <p class="how-steps__subtitle">Alix est bénévole</p>
          <h3 class="how-steps__title">Elle prend en charge le dossier de Roberto</h3>
          <p>Accompagnatrice, elle prend en charge le dossier de Roberto, Alix écoute, questionne et soutient Roberto dans son projet de vie. Elle reste en contact jusqu'à ce que Roberto honore son contrat.</p>
        </li>
      </ol>
    </div>
  </section>

  <section class="site-section section-gray">
    <div class="l-constrain">
      <header class="site-section__header">
        <h2 class="site-section__subtitle">Qui y a droit ? Dans quel cas ? Quelles sont les aides ?</h2>
        <h1 class="site-section__title">Un appui pour combler un obstacle financier au projet de personnes qui n’ont droit à aucune aide de la société</h1>
        <p><a href="#" class="button">Plus d'info</a></p>
      </header>
      <ul class="who-items">
        <li class="who-items__item card card--blue">
          <h3>Quand un projet de vie est mis à mal à cause de frais urgent</h3>
          <p>Le principe est de soutenir des personnes qui ont un projet de vie, un objectif, qui est mis à mal à cause d’un problème financier, de frais auxquels il n’est pas possible de déroger pour mener à bien ce projet.</p>
        </li>
        <li class="who-items__item card card--blue">
          <h3>Quand aucune aide sociale n’est disponible</h3>
          <p>Dans certains cas, il n’est pas possible  de trouver de l’aide auprès d’une autre instance. Ou il est compliqué de connaître l’existence même d’une instance qui pourrait aider. C’est là que nous intervenons financièrement et pour conseiller.</p>
        </li>
        <li class="who-items__item card card--blue">
          <h3>Micro-ressort soutient financièrement et donne des pistes</h3>
          <p>Pour recevoir un appui financier, pour une redirection vers des services pertinents, pour un accompagnement jusqu’à l’aboutissement d’un projet.</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="site-section site-section--c2a">
    <div class="l-constrain">
      <div class="c2a-list">
        <article class="c2a-list__item card card--gray">
          <h1>Demander un soutien</h1>
          <p>Trouvons une solution ensemble. Nous vous expliquons tout.</p>
          <a href="#" class="button">Demander un soutien</a>
        </article>
        <article class="c2a-list__item">
          <h1>Faire un don</h1>
          <p>Tous les montants sont les bienvenus et l’attribution de vos apports financiers est transparente.</p>
          <a href="#" class="button">Faire un don</a>
        </article>
        <article class="c2a-list__item">
          <h1>Devenir bénévole</h1>
          <p>Pour accompagner une personne en difficulté et vous investir avec notre équipe.</p>
          <a href="#" class="button">À propos</a>
        </article>
      </div>
    </div>
  </section>

  {{ .Content }}
</main>

{{ end }}
