// Hero

.hero__title {
  color: $white;
  font-size: $font-size-xxxl;
  margin-bottom: rhythm(2);

  @include bp($bp-medium) {
    @include flex-col(8);
    font-size: $font-size-title;
  }

  @include bp($bp-wide) {
    @include flex-col-push(1);
  }
}

.hero__intro {
  color: $white;
  font-size: $font-size-lg;

  @include bp($bp-medium) {
    @include flex-col(8);
  }

  @include bp($bp-wide) {
    @include flex-col(6);
    @include flex-col-push(1);
  }
}

.hero__inner {
  position: relative;
}

.hero__pictures {
  margin-top: rhythm(2);
  position: relative;

  @include bp($bp-medium) {
    bottom: 0;
    right: 0;
    margin-top: 0;
    position: absolute;
    z-index: map-get($zindex, surface);
  }

  figure {
    margin: 0;
    position: relative;
    width: rem(240);
    // First-child.
    transform: translateY(25%) rotate(13deg);
    transition: none;

    svg {
      position: absolute;
      height: calc(100% + #{rem(40)});
      width: calc(100% + #{rem(70)});
      left: rem(-35);
      top: rem(-20);
      transform: rotate(-12deg) translateY(30px);
      z-index: map-get($zindex, underground);
    }

    &:last-child {
      position: absolute;
      top: 0;
      left: 50%;
      transform: rotate(-10deg);

      svg {
        height: calc(100% + #{rem(10)});
        width: calc(100% + #{rem(60)});
        top: rem(-5);
        left: rem(-40);
        transform: rotate(10deg) translateY(0px);
      }

      @include bp($bp-wide) {
        left: auto;
        right: 75%;
        top: 75%;
      }
    }
  }
}

.hero--homepage {
  background-color: $blue;
  color: $white;
  padding-bottom: rhythm(4);
  padding-top: rem(100);
  position: relative;
  transition: none;

  @include section-curve($blue);

  .icn-deco {
    display: none;

    @include bp($bp-wide) {
      display: block;
      position: absolute;
      z-index: map-get($zindex, background);

      &:nth-of-type(1) {
        left: rem(20);
        top: 22%;
      }

      &:nth-of-type(2) {
        top: 18%;
        right: calc((100vw - #{$max-w-wide})/2);
      }

      &:nth-of-type(3) {
        top: 35%;
        right: rem(-5);
      }

      &:nth-of-type(4) {
        top: 50%;
        left: calc((100vw - #{$max-w-wide})/4);
      }

      &:nth-of-type(5) {
        top: 80%;
        left: rem(-5);
      }

      &:nth-of-type(6) {
        top: 80%;
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}
