// Navigation

// .site-navigation {}

.main-menu {
  @include bp($bp-medium) {
    display: flex;
    list-style: none;
    margin: 0 -1rem;
  }

  .site-footer__menu & {
  }

  .site-header__menu & {
    display: none;

    @include bp($bp-medium) {
      display: flex;
    }
  }
}

.main-menu__item {
  @include bp($bp-medium) {
    padding: 0 1rem;
  }
}

.main-menu__link {
  color: $text-color;
}
