// Page header

.page-header {
  @include flex-grid();
  padding-bottom: rhythm(1);
  padding-top: rhythm(1);

  @include bp($bp-wide) {
    padding-bottom: rhythm(3);
    padding-top: rhythm(3);
  }
}

.page-header__title {
  font-size: $font-size-xxxxl;
  margin-bottom: rhythm(2);
  margin-top: 0;

  @include bp($bp-big) {
    @include flex-col(8);
    @include flex-col-push(1);
  }
}

.page-header__intro {
  p {
    color: $darkgray;
    font-size: $font-size-lg;
  }

  @include bp($bp-big) {
    @include flex-col(6);
    @include flex-col-push(1);
  }
}

.page-header__aside {
  h2 {
    margin-top: 0;
    font-size: $font-size-lg;
  }

  @include bp($bp-big) {
    @include flex-col(4);
    @include flex-col-pull(1);
  }
}

.page-header--support {
  padding-bottom: rem(100);
  padding-top: rem(200);
}

.page-header--gift {
  background-color: $lightorange;
  padding-bottom: rem(100);
  padding-top: rem(200);
  @include section-curve($lightorange);
}

.page-header--about {
  background-color: $lightgray;
  padding-bottom: rem(100);
  padding-top: rem(200);
  @include section-curve($lightgray);

  .page-header__items {
    @include bp($bp-big) {
      display: flex;

      > * {
        // flex: 1 1 0;
        @include flex-col(4);
        @include flex-col-push(1);
      }
    }
  }
}

