// Page header

.page-header {
  @include flex-grid();
  padding-bottom: rhythm(1);
  padding-top: rhythm(1);

  @include bp($bp-wide) {
    padding-bottom: rhythm(3);
    padding-top: rhythm(3);
  }
}

.page-header__title {
  font-size: $font-size-xxxl;
  margin-bottom: rhythm(1);
  margin-top: 0;

  @include bp($bp-medium) {
    font-size: $font-size-xxxxl;
    margin-bottom: rhythm(2);
  }

  @include bp($bp-big) {
    @include flex-col(8);
    @include flex-col-push(1);
  }
}

.page-header__intro {
  @include bp($bp-medium) {
    @include flex-col(8);
  }

  @include bp($bp-big) {
    @include flex-col(7);
    @include flex-col-push(1);
  }

  p {
    color: $darkgray;
    font-size: $font-size-lg;
  }

}

.page-header__inner {
  @include bp($bp-medium) {
    @include flex-grid();
  }
}

.page-header--has-aside {
  .page-header__intro {
    @include bp($bp-medium) {
      @include flex-col(5);
    }
  }
}

.page-header__aside {
  margin-top: rhythm(1);

  @include bp($bp-medium) {
    @include flex-col(5);
    margin-top: 0;
  }

  @include bp($bp-big) {
    @include flex-col(4);
    @include flex-col-pull(1);
  }

  h2 {
    margin-top: 0;
    font-size: $font-size-lg;
  }
}

.page-header--support {
  background: url("/images/wave-1.svg") no-repeat center center;
  padding-bottom: rhythm(2);
  padding-top: rem(100);
  @include section-curve($white);

  @include bp($bp-medium) {
    padding-bottom: rem(100);
    padding-top: rem(200);
  }
}

.page-header--gift {
  background: $lightorange url("/images/wave-2.svg") no-repeat center center;
  padding-bottom: rem(40);
  padding-top: rem(100);
  @include section-curve($lightorange);

  @include bp($bp-medium) {
    padding-bottom: rem(100);
    padding-top: rem(200);
  }
}

.page-header--about {
  background: $lightgray url("/images/wave-2.svg") no-repeat center center;
  @include section-curve($lightgray);
  padding-bottom: rem(40);
  padding-top: rem(100);

  @include bp($bp-medium) {
    padding-bottom: rem(100);
    padding-top: rem(200);
  }
}

.page-header__items {
  @include bp($bp-medium) {
    @include flex-grid();
  }
}

.page-header__items-item {
  // Leave that space on desktop.
  margin-top: rhythm(1);

  @include bp($bp-medium) {
    @include flex-col(6);
  }

  @include bp($bp-big) {
    @include flex-col(4);
    @include flex-col-push(1);
  }

  & + & {
    @include bp($bp-big) {
      @include flex-col-pull(3);
    }
  }
}
