// Pages sections
// page support
// page gift
// page about

.site-section {
  padding-bottom: rhythm(3);
  padding-top: rhythm(3);
  position: relative;
  @include section-bg;
  @include section-curve;

  @include bp($bp-wide) {
    padding-bottom: rhythm(5);
    padding-top: rhythm(5);
  }
}

.site-section__header {
  margin-bottom: rhythm(3);
}

.site-section__title {
  font-size: $font-size-xxxl;
  margin: rhythm(1) 0 rhythm(3/2);

  @include bp($bp-medium) {
    font-size: $font-size-xxxxl;
  }
}

.site-section__subtitle {
  color: $darkgray;
  margin: 0;
}

.site-section--no-curve {
  &:after {
    content: none;
  }
}

.section-gray {
  &:after {
    background-color: $lightorange;
  }

  &:before {
    background-color: $lightorange;
  }
}

.section-purple {
  &:after {
    background-color: $purple;
  }

  &:before {
    background-color: $purple;
  }
}

.section-blue {
  color: $white;

  p,
  h1, h2, h3, h4, h5 {
    color: $white;
  }

  &:after {
    background-color: $blue;
    transition: none;
  }

  &:before {
    background-color: $blue;
    transition: none;
  }
}

// Section How steps - frontpage
.section--how-steps {
  .site-section__header {
    @include bp($bp-wide) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.how-steps {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;

  @include bp($bp-wide) {
    @include flex-col-push(1);
    @include flex-col(10);
  }

  &:after {
    @include el(block, 70%, null);
    @include absolute-center();
    border-radius: 50%;
    border: 2px solid $gray;
    padding-bottom: 70%;
    position: absolute;
    z-index: map-get($zindex, behind);
  }
}

.how-steps__item {
  & + & {
    margin-top: rhythm(2);

    @include bp($bp-medium) {
      margin-top: rhythm(5);
    }
  }

  &:nth-child(odd) {
    @include bp($bp-medium) {
      @include flex-col(8);
    }
  }

  &:nth-child(even) {
    @include bp($bp-medium) {
      @include flex-col-push(4);
      @include flex-col(7);
    }
  }

  &:last-child {
    background-color: $lightorange;
    border-radius: 20px;
    padding: rhythm(3/2) rem(40);
  }

  svg {
    left: 0;
    position: absolute;
  }
}

.how-steps__header {
  position: relative;
}

.how-steps__image {
  margin: 0;
  text-align: center;

  @include bp($bp-medium) {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: rem(80);
    min-width: rem(200);
    transform: translateY(-50%) rotate(-5deg);

    .how-steps__item:nth-child(odd) & {
      margin-left: rem(60);
      margin-right: 0;
      right: auto;
      left: 100%;
      transform: translateY(-50%) rotate(8deg);
    }
  }
}

.how-steps__title {
  font-size: $font-size-xl;
  margin: rhythm(1/5) 0 rhythm(2/3);
  padding-left: rem(60);
}

.how-steps__subtitle {
  font-size: $font-size-md;
  font-weight: bold;
  margin: 0;
  padding-left: rem(60);
  text-transform: uppercase;
}

// Who items - frontpage
.site-section--who-items {
  // padding-bottom: rhythm(10);
  position: relative;

  @include bp($bp-medium) {
    // padding-bottom: rhythm(5);
  }

  .site-section__header {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }

  .pic-frame {
    display: none;

    @include bp($bp-medium) {
      bottom: rem(80);
      display: block;
      left: calc((100vw - $max-w-big)/2);
      margin: 0;
      max-width: $max-w-big/2;
      position: absolute;
      z-index: map-get($zindex, underground);
      transform: translateX(rem(-40)) rotate(-4deg);
    }

    @include bp($bp-wide) {
      left: calc((100vw - $max-w-wide)/2);
      max-width: $max-w-wide/2;
    }

    &:before {
      @include el(block, 34px, 246px);
      background: url("/images/icn-spring-long.svg") top left;
      position: absolute;
      left: 0;
      top: rem(-60);
      z-index: map-get($zindex, surface);
      transform: rotate(-23deg);
    }

    &:after {
      @include el(block, 40px, 41px);
      background: url("/images/icn-loop.svg") top left;
      position: absolute;
      bottom: rem(40);
      right: rem(-40);
      z-index: map-get($zindex, surface);
    }
  }
}

.who-items {
  margin-top: 0;

  @include bp($bp-medium) {
    @include flex-col-push(1);
    @include flex-col(10);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-left: rem(-15);
    margin-right: rem(-15);
  }
}

.who-items__item {
  @include bp($bp-medium) {
    transform: translateY(rem(40));
  }

  & + & {
    margin-top: rem(30);

    @include bp($bp-medium) {
      transform: translateY(rem(-40));
    }
  }

  @include bp($bp-medium) {
    flex-shrink: 1;
    margin-left: rem(15);
    margin-right: rem(15);
    width: calc(50% - #{rem(30)});
  }

  p {
    margin-bottom: 0;
    margin-top: rhythm(1);
  }
}

.who-items__item-title {
  font-size: $font-size-xl;
  margin-top: rhythm(1/3);
}

// Site section c2a
.site-section--c2a {}

.c2a-list {
  @include bp($bp-medium) {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    position: relative;
  }
}

.c2a-list__item {
  @include bp($bp-medium) {
    flex: 0 0 25%;
    margin-right: rem(20);
  }
}

.c2a-list__item-title {
  font-size: $font-size-xl;
  margin-top: 0;
}

.c2a-list__image {
  border-radius: 20px;
  line-height: 1;

  @include bp($bp-medium) {
    top: 50%;
    right: 0;
    height: calc(100% + rem(140));
    position: absolute;
    z-index: map-get($zindex, underground);
    transform: translateY(-50%);
  }
}

.site-section--what {
  .site-section__title {
    @include bp($bp-wide) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.what-items {
  @include bp($bp-wide) {
    @include flex-grid();
    align-items: flex-start;
  }
}

.what-items__item {
  &:nth-child(even) {
    @include bp($bp-wide) {
      transform: translateY(rem(20));
    }
  }

  .card__title {
    color: $blue;
    font-size: $font-size-lg;
    margin-top: 0;

    @include bp($bp-medium) {
      font-size: $font-size-xl;
    }
  }

  .card__text {
    color: $blue;
  }

  @include bp($bp-medium) {
    @include flex-col(6);
  }

  @include bp($bp-wide) {
    @include flex-col(3);
  }
}

.site-section--help-steps {
  .site-section__title {
    @include bp($bp-wide) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.help-steps {
  @include bp($bp-wide) {
    @include flex-grid();
    align-items: flex-start;
  }
}

.help-steps__item {
  margin-bottom: rhythm(1);

  @include bp($bp-wide) {
    &:first-child {
      @include flex-col(4);
    }
    &:nth-child(2) {
      @include flex-col(5);
    }
    &:nth-child(n+3) {
      @include flex-col(3);
    }
  }
}

.site-section--testimony {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.testimony {
  blockquote {
    margin: 0;
  }

  @include bp($bp-medium) {
    @include flex-col-push(1);
    @include flex-col(6);
  }
}

.testimony__author {
  color: $blue;

  &:before {
    @include el(block, 30px, 2px);
    background-color: $blue;
    border-radius: 2px;
    margin-bottom: 1rem;
  }
}

.site-section--links {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.site-section--c2a-help {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }
}

.site-section--gift-process {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }

  .site-section__content {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(8);
    }
  }

  .site-section__figure {
    border-radius: rem(20);
    margin: rhythm(2) 0 0;
    overflow: hidden;
    line-height: 0;
  }
}

.site-section--gift-support {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }

  .site-section__content {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(8);
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .site-section__text {
    background-color: $lightorange;
    border-radius: rem(20);
    flex: 1 1 50%;
    padding: rhythm(2) rem(40);
    margin-right: rem(10);
    text-align: center;
    // Vertically center text.
    display: flex;
    align-items: center;

    p {
    }

    p {
      margin: 0;
    }
  }

  .site-section__figure {
    border-radius: rem(20);
    flex: 1 1 50%;
    line-height: 0;
    margin-left: rem(10);
    overflow: hidden;
  }
}

.site-section--gift-engage {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(8);
    }
  }

  .site-section__content {
    background-color: $lightorange;
    border-radius: rem(20);
    padding: rhythm(2) rem(40);

    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(5);
    }
  }
}
