// Pages sections
// page support
// page gift
// page about

.site-section {
  padding-bottom: rhythm(3);
  padding-top: rhythm(3);
  position: relative;
  @include section-bg;
  @include section-curve;

  @include bp($bp-wide) {
    padding-bottom: rhythm(5);
    padding-top: rhythm(5);
  }
}

.site-section__header {
  margin-bottom: rhythm(3);
}

.site-section__title {
  font-size: $font-size-xxxl;
  margin: rhythm(1) 0 rhythm(3/2);

  @include bp($bp-medium) {
    font-size: $font-size-xxxxl;
  }
}

.site-section__subtitle {
  color: $darkgray;
  margin: 0;
}

.site-section--no-curve {
  &:after {
    content: none;
  }
}

.section-gray {
  &:after {
    background-color: $lightorange;
  }

  &:before {
    background-color: $lightorange;
  }
}

.section-purple {
  &:after {
    background-color: $purple;
  }

  &:before {
    background-color: $purple;
  }
}

.section-blue {
  color: $white;

  p,
  h1, h2, h3, h4, h5 {
    color: $white;
  }

  &:after {
    background-color: $blue;
    transition: none;
  }

  &:before {
    background-color: $blue;
    transition: none;
  }
}
