// Page gift

.site-section--gift-process {
  padding-bottom: 0;

  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }

  .site-section__content {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(8);
    }
  }

  .site-section__figure {
    margin: rhythm(2) 0 0;

    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(9);
    }
  }
}

.site-section--gift-support {
  padding-bottom: 0;

  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
    }
  }

  .site-section__content {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(10);
      display: flex;
      flex-flow: row nowrap;
    }
  }

  .site-section__text {
    background-color: $lightorange;
    border-radius: rem(20);
    flex: 1 0 50%;
    margin-bottom: rhythm(1);
    margin-right: rem(10);
    padding: rhythm(2) rem(40);
    // Vertically center text.
    display: flex;
    align-items: center;

    @include bp($bp-medium) {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .site-section__figure {
    border-radius: rem(20);
    // display: inline-block;
    flex: 1 0 50%;
    line-height: 0;
    margin-left: rem(10);
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.site-section--gift-engage {
  .site-section__title {
    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(8);
    }
  }

  .site-section__content {
    background-color: $lightorange;
    border-radius: rem(20);
    padding: rhythm(2) rem(40);

    @include bp($bp-medium) {
      @include flex-col-push(1);
      @include flex-col(5);
    }
  }
}
